COMMANDS.md
.env
.env.local
backend.prod.env
__pycache__/
*.pyc
.mypy_cache/
.ruff_cache/
.venv/
node_modules/
.next/
.cursor/
.DS_Store
dist/
.coverage
htmlcov/
.vscode

.pytest_cache/
*.tsbuildinfo
frontend/coverage/
npm-debug.log*
*.pem
venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
